footer#footer
  p Powered by Mailgun & SendGrid
  a(href="https://www.mailgun.com/")
    img(src="static/img/mailGunLogo.png" alt="Mailgun Logo")
  a(href="https://sendgrid.com/")
    img(src="static/img/sendGridLogo.png" alt="SendGrid Logo")
